<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<!-- navbar -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <div class="external">
<nav class="navbar navbar-expand-lg ">
  <div class="menu">
    <img  src="../../assets/icons8-menu-32.png">
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" (input)="onsearch()" placeholder="Search" aria-label="Search">
        
      </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img class="homelogo" href="#" src="../../assets/home-symbol-png-white.png">
        </li>
        <li class="nav-item">
          <img class="homelogo" href="#" src="../../assets/settings.png">
        </li>
        <li class="nav-item dropdown">
          <img class="homelogo" href="#" src="../../assets/Line_chart_icon_Noun_70892_cc_White.svg.png">
        </li>
        <li class="nav-item">
          
        </li>
      </ul>

    </div>
  </nav>
  <!-- navbar end  -->


<!-- sidebar -->

<div class="sidebar">
  <div class="logodiv" href="#">
      <img src="../../assets/logo (1).png" class="logo" >
      <a class="navbar-brand"  id="todos">TODO</a>
  </div>
  <ul class="sidebar-menu">
      <!-- <div class="upper"> -->
          <li routerLink="/viewtask">Home</li>
          <br>
          <li routerLink="/completedtask">Completed Task</li>
          <br>
          <li routerLink="/Upcoming">Upcoming Task</li>
          <br>
          <li (click)="getCategory()" [ngClass]="{'cat_shadow':toggle}">Category</li>
          <br>
          <div  *ngIf="toggle">
         
              <li *ngFor="let cat of allcategories" class="categories">{{cat.category}}</li>
              
         
          </div>
          <br>
          
      <!-- </div> -->
      <div class="logout-container" style="margin-right:0">
        <img  style="width:60px; height:50px;" src="../../assets/icons8-user-60.png">
        <li routerLink="/" (click)="Logout()">Logout</li>
    </div>
  </ul>
</div>
</div> 
<!-- sidebar end -->

<!-- right sidebar -->
 <!-- right sidebar -->
  <div class="rightsidebar" [class.open]="isSidebarOpen">
    <img class="logos" src="../../assets/left-arrow.png" (click)="closesidebar()">

    <div *ngIf="selectedTask">
      <div style="display: flex;">
      <h3>  {{selectedTask.task_name}}</h3>
      <ng-container *ngIf="selectedTask.priority === 1">
        <div class="prioritystyle1">{{ selectedTask.priority }}</div>
      </ng-container>
      <ng-container *ngIf="selectedTask.priority === 2">
        <div class="prioritystyle2">{{ selectedTask.priority }}</div>
      </ng-container>
      <ng-container *ngIf="selectedTask.priority === 3">
        <div class="prioritystyle3">{{ selectedTask.priority }}</div>
      </ng-container>
      </div>
      <p style="color:red; font-size: smaller; margin-bottom:0">Due:{{ selectedTask.due_date | date:'dd/MM/yyyy' }}</p>
      <p>{{ selectedTask.task_des }}</p>
      <p style="color:rgb(255, 255, 255)">
        ffsgsghdhffgdtdjtktkykfasdfsrgrgrjtk
      </p>
     <hr><br>
     <div class="subs" *ngIf="sub_task_array && sub_task_array.length > 0">
      <p *ngFor="let subtask of sub_task_array">Subtask: {{ subtask.sub_task_name }}</p>
    

    </div>
    <p style="text-align:center"> Completed on  {{selectedTask.deletion_date | date:'dd/MM/yyyy'}}</p>
    </div>
  
</div >
<!-- right sidebar end -->


<!-- main page task entry -->

<div class="content" >
    <h2 class="con-task">Completed Tasks</h2>
<!-- filter -->

<br>
<div  class="priorstyle">
  <select class= "con-task" >
      <option value=0>Filter</option>
      <option value=1>High to Low</option>
      <option value=2>Low to High</option>
      <option value=3>By Due Date</option>
  </select>

</div>
<br>
  <hr class="line" [ngClass]="{'line-expanded':isSidebarOpen,'line-shrunk':!isSidebarOpen}">

          <br>
          <!-- <h5 *ngIf="!isResultLoaded">Loading...</h5> -->
          <h5 *ngIf="task_array.length === 0">
              <li>No tasks to display.</li>
      </h5>
      
     
  <div class="taskcontainer" >
    <div>

<!-- Display Overdue Tasks -->
      <div >
        <ul >
          <li *ngFor="let task of task_array" (click)="taskClicked = false; task_details(); selectTask($event,task)" class="task-item"
          [ngClass]="{'task-item-expanded': isSidebarOpen, 'task-item-shrunk': !isSidebarOpen}">
          <div class="taskdata" >
            <div class="tskandpri">
                <div class="taskstyle"><input type="radio"  checked class=""/>{{ task.task_name }}</div>
              <ng-container *ngIf="task.priority === 1">
                <div class="prioritystyle1">{{ task.priority }}</div>
              </ng-container>
              <ng-container *ngIf="task.priority === 2">
                <div class="prioritystyle2">{{ task.priority }}</div>
              </ng-container>
              <ng-container *ngIf="task.priority === 3">
               <div class="prioritystyle3">{{ task.priority }}</div>
              </ng-container>
           
             </div>
        <div class="des-date">
        <a class="desstyle">{{ task.task_des }}</a>
       
        </div>
      </div>
    </li>
  </ul>
</div>




    </div>
  </div>

       </div>
      
    
</body>
</html>